PORT=4001
MONGO_URI=mongodb+srv://shivam:shivam@cluster0.vlah8hw.mongodb.net/

JWT_SECRET=change_this_to_a_long_random_secret
CLIENT_URL=http://localhost:5173

# ---- Good Vibes Cafe ----
SHOP_NAME=Good Vibes Cafe
SHOP_ADDRESS=Shop Address, City
SHOP_PHONE=9999999999
# SHOP_FOOTER=Thank you! Visit again
# BILL_PREFIX=GVC
# Thermal receipt par logo ki chaudai (dots). 58mm printer = max 384. Default 240.
# LOGO_PRINT_WIDTH=240
